In [1]:
import json
import pandas as pd
import numpy as np
import re

In [2]:
# *****************************************
#              Extract phase              
# *****************************************

fileDir="./data/"

In [3]:
with open(f"{fileDir}wikipedia.movies.json", mode="r") as file:
    # Store the json content as a list
    wikiMoviesRaw = json.load(file)

# Check loaded records
len(wikiMoviesRaw)

7311

In [4]:
# Check first 5 records
wikiMoviesRaw[:5]

[{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098987/',
  'title': 'The Adventures of Ford Fairlane',
  'Directed by': 'Renny Harlin',
  'Produced by': ['Steve Perry', 'Joel Silver'],
  'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
  'Story by': ['David Arnott', 'James Cappe'],
  'Based on': ['Characters', 'by Rex Weiner'],
  'Starring': ['Andrew Dice Clay',
   'Wayne Newton',
   'Priscilla Presley',
   'Lauren Holly',
   'Morris Day',
   'Robert Englund',
   "Ed O'Neill"],
  'Narrated by': 'Andrew "Dice" Clay',
  'Music by': ['Cliff Eidelman', 'Yello'],
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Michael Tronick',
  'Productioncompany ': 'Silver Pictures',
  'Distributed by': '20th Century Fox',
  'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
  'Running time': '102 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$21.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/After_Dark,_My_Sweet',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098994/',
  'title': 'After Dark, My Sweet',
  'Directed by': 'James Foley',
  'Produced by': ['Ric Kidney', 'Robert Redlin'],
  'Screenplay by': ['James Foley', 'Robert Redlin'],
  'Based on': ['the novel', 'After Dark, My Sweet', 'by', 'Jim Thompson'],
  'Starring': ['Jason Patric',
   'Rachel Ward',
   'Bruce Dern',
   'George Dickerson'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Mark Plummer',
  'Edited by': 'Howard E. Smith',
  'Productioncompany ': 'Avenue Pictures',
  'Distributed by': 'Avenue Pictures',
  'Release date': ['May 17, 1990',
   '(',
   '1990-05-17',
   ')',
   '(Cannes Film Market)',
   'August 24, 1990',
   '(',
   '1990-08-24',
   ')',
   '(United States)'],
  'Running time': '114 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$6 million',
  'Box office': '$2.7 million'},
 {'url': 'https://en.wikipedia.org/wiki/Air_America_(film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099005/',
  'title': 'Air America',
  'Directed by': 'Roger Spottiswoode',
  'Produced by': 'Daniel Melnick',
  'Screenplay by': ['John Eskow', 'Richard Rush'],
  'Based on': ['Air America', 'by', 'Christopher Robbins'],
  'Starring': ['Mel Gibson',
   'Robert Downey Jr.',
   'Nancy Travis',
   'David Marshall Grant',
   'Lane Smith'],
  'Music by': 'Charles Gross',
  'Cinematography': 'Roger Deakins',
  'Edited by': ['John Bloom', 'Lois Freeman-Fox'],
  'Productioncompany ': ['Carolco Pictures', 'IndieProd Company'],
  'Distributed by': 'TriStar Pictures',
  'Release date': ['August 10, 1990', '(', '1990-08-10', ')'],
  'Running time': '113 minutes',
  'Country': 'United States',
  'Language': ['English', 'Lao'],
  'Budget': '$35 million',
  'Box office': '$57,718,089'},
 {'url': 'https://en.wikipedia.org/wiki/Alice_(1990_film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099012/',
  'title': 'Alice',
  'Directed by': 'Woody Allen',
  'Produced by': 'Robert Greenhut',
  'Written by': 'Woody Allen',
  'Starring': ['Alec Baldwin',
   'Blythe Danner',
   'Judy Davis',
   'Mia Farrow',
   'William Hurt',
   'Keye Luke',
   'Joe Mantegna',
   'Bernadette Peters'],
  'Cinematography': 'Carlo Di Palma',
  'Edited by': 'Susan E. Morse',
  'Distributed by': 'Orion Pictures',
  'Release date': ['December 25, 1990', '(', '1990-12-25', ')'],
  'Running time': '106 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$12 million',
  'Box office': '$7,331,647'},
 {'url': 'https://en.wikipedia.org/wiki/Almost_an_Angel',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099018/',
  'title': 'Almost an Angel',
  'Directed by': 'John Cornell',
  'Produced by': 'John Cornell',
  'Written by': 'Paul Hogan',
  'Starring': ['Paul Hogan', 'Elias Koteas', 'Linda Kozlowski'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Russell Boyd',
  'Edited by': 'David Stiven',
  'Distributed by': 'Paramount Pictures',
  'Release date': 'December 19, 1990',
  'Running time': '95 minutes',
  'Country': 'US',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$6,939,946 (USA)'}]

In [5]:
# Check last 5 records
wikiMoviesRaw[:-5]

$190,000'},
 {'url': 'https://en.wikipedia.org/wiki/Disclosure_(film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109635/',
  'title': 'Disclosure',
  'Directed by': 'Barry Levinson',
  'Produced by': ['Michael Crichton', 'Barry Levinson'],
  'Written by': 'Paul Attanasio',
  'Based on': ['Disclosure', 'by Michael Crichton'],
  'Starring': ['Michael Douglas',
   'Demi Moore',
   'Donald Sutherland',
   'Caroline Goodall',
   'Dennis Miller'],
  'Music by': 'Ennio Morricone',
  'Cinematography': 'Tony Pierce-Roberts',
  'Edited by': 'Stu Linder',
  'Distributed by': 'Warner Bros.',
  'Release date': ['December 9, 1994', '(', '1994-12-09', ')'],
  'Running time': '128 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$55 million',
  'Box office': '$214 million'},
 {'url': 'https://en.wikipedia.org/wiki/Don%27t_Drink_the_Water_(1994_film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109644/',
  'title': "Don't Drink the Water",
  'Genre': 'Comedy',
  'Written by': 'Woody Allen',
  'Directed by': 'Woody Allen',
  'Starring': ['Woody Allen',
   'Mayim Bialik',
   'Michael J. Fox',
   'Dom DeLuise',
   'Julie Kavner',
   'Edward Herrmann'],
  'Narrated by': 'Ed Herlihy',
  'Country of origin': 'United States',
  'Original language(s)': 'English',
  'Executive producer(s)': ['J.E. Beaucaire',
   'Jean Doumanian',
   'Letty Aronson',
   '(co-executive producer)'],
  'Producer(s)': 'Robert Greenhut',
  'Cinematography': 'Carlo Di Palma',
  'Editor(s)': 'Susan E. Morse',
  'Running time': '92 minutes',
  'Production company(s)': ['Jean Doumanian Productions',
   'Magnolia Productions',
   'Sweetland Films'],
  'Distributor': 'ABC',
  'Original network': 'ABC',
  'Picture format': 'Color',
  'Audio format': 'Stereo',
  'Original release': ['December 18, 1994', '(', '1994-12-18', ')']},
 {'url': 'https://en.wikipedia.org/wiki/Doomsday_Gun',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109650/',
  'title': 'Doomsday Gun',
  'Written by': ['Walter Bernstein', 'Lionel Chetwynd'],
  'Directed by': 'Robert Young',
  'Starring': ['Frank Langella', 'Alan Arkin', 'Kevin Spacey'],
  'Theme music composer': 'Richard Harvey',
  'Country of origin': ['United Kingdom', 'United States'],
  'Original language(s)': 'English',
  'Producer(s)': 'Adam Clapham',
  'Editor(s)': 'Tariq Anwar',
  'Running time': '106 minutes',
  'Production company(s)': 'HBO Showcase',
  'Distributor': 'HBO',
  'Original network': 'HBO',
  'Original release': ['July 23, 1994', '(', '1994-07-23', ')']},
 {'url': 'https://en.wikipedia.org/wiki/Double_Dragon_(film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0106761/',
  'title': 'Double Dragon',
  'Directed by': ['James Yukich', '(as James Nickson)'],
  'Produced by': ['Sunil R. Shah',
   'Ash R. Shah',
   'Alan Schechter',
   'Jane Hamsher',
   'Don Murphy'],
  'Screenplay by': ['Michael Davis', 'Peter Gould'],
  'Story by': ['Paul Dini', 'Neal Shusterman'],
  'Based on': ['Double Dragon', 'by', 'Techn≈çs Japan'],
  'Starring': ['Robert Patrick',
   'Mark Dacascos',
   'Scott Wolf',
   'Julia Nickson',
   'Alyssa Milano'],
  'Music by': ['Jay Ferguson', 'Tolga Katas'],
  'Cinematography': 'Gary B. Kibbe',
  'Edited by': 'Florent Retz',
  'Productioncompany ': 'Imperial Entertainment Group',
  'Distributed by': 'Gramercy Pictures',
  'Release date': ['November 4, 1994', '(', '1994-11-04', ')'],
  'Running time': '95 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$7.8 million',
  'Box office': '$2.3 million'},
 {'url': 'https://en.wikipedia.org/wiki/Dream_Lover_(1994_film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109665/',
  'title': 'Dream Lover',
  'Directed by': 'Nicholas Kazan',
  'Written by': 'Nicholas Kazan',
  'Starring': ['James Spader',
   'M√§dchen Amick',
   'Bess Armstrong',
   'Frederic Lehne',
   'Larry Miller'],
  'Music by': 'Christopher Young',
  'Cinematography': 'Jean-Yves Escoffier',
  'Productioncompany ': ['PolyGram Filmed Entertainment',
   'Propaganda Films',
   'Nicita/Lloyd Productions',
   'Edward R. Pressman',
   'Productions'],
  'Distributed by': ['Metro-Goldwyn-Mayer', 'Gramercy Pictures'],
  'Release date': ['October 1993',
   '(',
   '1993-10',
   ')',
   '(MIFED)',
   'May 6, 1994',
   '(',
   '1994-05-06',
   ')'],
  'Running time': '103 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$256,264'},
 {'url': 'https://en.wikipedia.org/wiki/Drop_Zone_(film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109676/',
  'title': 'Drop Zone',
  'Directed by': 'John Badham',
  'Produced by': ['D. J. Caruso', 'Lauren Lloyd', 'Wallis Nicita'],
  'Written by': ['Peter Barsocchini', 'John Bishop'],
  'Story by': ['Peter Barsocchini', 'Tony Griffin', 'Guy Manos'],
  'Starring': ['Wesley Snipes', 'Gary Busey', 'Yancy Butler', 'Michael Jeter'],
  'Music by': 'Hans Zimmer',
  'Cinematography': 'Roy H. Wagner',
  'Edited by': 'Frank Morriss',
  'Productioncompany ': ['Paramount Pictures', 'Nicita/Lloyd Productions'],
  'Distributed by': 'Paramount Pictures',
  'Release date': ['December 9, 1994', '(', '1994-12-09', ')'],
  'Running time': '101 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$45 million',
  'Box office': '$28,735,315'},
 {'url': 'https://en.wikipedia.org/wiki/Dumb_and_Dumber',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109686/',
  'title': 'Dumb and Dumber',
  'Directed by': 'Peter Farrelly',
  'Produced by': ['Charles B. Wessler',
   'Brad Krevoy',
   'Steve Stabler',
   'Aaron Meyerson'],
  'Written by': ['Peter Farrelly', 'Bobby Farrelly', 'Bennett Yellin'],
  'Starring': ['Jim Carrey',
   'Jeff Daniels',
   'Lauren Holly',
   'Karen Duffy',
   'Mike Starr',
   'Charles Rocket',
   'Teri Garr'],
  'Music by': 'Todd Rundgren',
  'Cinematography': 'Mark Irwin',
  'Edited by': 'Christopher Greenbury',
  'Productioncompanies ': ['Katja Motion Picture Corporation',
   '[1]',
   'Krevoy/Stabler/Wessler Production',
   '[2]'],
  'Distributed by': 'New Line Cinema',
  'Release date': ['December 16, 1994', '(', '1994-12-16', ')'],
  'Running time': '106 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$17 million',
  'Box office': '$247.3 million'},
 {'url': 'https://en.wikipedia.org/wiki/Ed_Wood_(film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109707/',
  'title': 'Ed Wood',
  'Directed by': 'Tim Burton',
  'Produced by': ['Denise Di Novi', 'Tim Burton'],
  'Written by': ['Scott Alexander', 'Larry Karaszewski'],
  'Based on': ['Nightmare of Ecstasy: The Life and Art of Edward D. Wood Jr.',
   'by',
   'Rudolph Grey'],
  'Starring': ['Johnny Depp',
   'Martin Landau',
   'Sarah Jessica Parker',
   'Patricia Arquette',
   'Jeffrey Jones',
   'Bill Murray'],
  'Music by': 'Howard Shore',
  'Cinematography': 'Stefan Czapsky',
  'Edited by': 'Chris Lebenzon',
  'Productioncompany ': 'Touchstone Pictures',
  'Distributed by': 'Buena Vista Pictures',
  'Release date': ['September 23, 1994',
   '(',
   '1994-09-23',
   ')',
   '(',
   'New York Film Festival',
   ')',
   'September 30, 1994',
   '(',
   '1994-09-30',
   ')',
   '(United States)'],
  'Running time': '126 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$18 million',
  'Box office': '$5.9 million'},
 {},
 {'url': 'https://en.wikipedia.org/wiki/Even_Cowgirls_Get_the_Blues_(film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0106834/',
  'title': 'Even Cowgirls Get the Blues',
  'Directed by': 'Gus Van Sant',
  'Produced by': ['Eric McLeod', 'Laurie Parker', 'Gus Van Sant'],
  'Screenplay by': 'Gus Van Sant',
  'Based on': ['Even Cowgirls Get the Blues', 'by', 'Tom Robbins'],
  'Starring': ['Uma Thurman',
   'Lorraine Bracco',
   'Angie Dickinson',
   'Noriyuki "Pat" Morita',
   'Keanu Reeves',
   'John Hurt',
   'Rain Phoenix'],
  'Narrated by': 'Tom Robbins',
  'Music by': ['k.d. lang', 'Ben Mink'],
  'Cinematography': ['John J. Campbell', 'Eric Alan Edwards'],
  'Edited by': ['Curtiss Clayton', 'Gus Van Sant'],
  'Productioncompany ': 'Fourth Vision',
  'Distributed by': 'Fine Line Features',
  'Release date': ['September 13, 1993',
   '(',
   '1993-09-13',
   ')',
   '(',
   'TIFF',
   ')',
   'May 20, 1994',
   '(',
   '1994-05-20',
   ')'],
  'Running time': '96 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$8 million',
  'Box office': '$1.7 million'},
 {'url': 'https://en.wikipedia.org/wiki/Exit_to_Eden_(film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109758/',
  'title': 'Exit To Eden',
  'Directed by': 'Garry Marshall',
  'Produced by': ['Garry Marshall', 'Edward K. Milkis'],
  'Written by': ['Deborah Amelon', 'Bob Brunner'],
  'Based on': ['Exit to Eden', 'by', 'Anne Rampling'],
  'Starring': ['Dana Delany',
   'Paul Mercurio',
   'Iman',
   'Stuart Wilson',
   'Hector Elizondo',
   "Rosie O'Donnell",
   'Dan Aykroyd'],
  'Music by': 'Patrick Doyle',
  'Cinematography': 'Theo van de Sande',
  'Edited by': 'David Finfer',
  'Distributed by': 'Savoy Pictures',
  'Release date': ['October 14, 1994', '(', '1994-10-14', ')'],
  'Running time': '114 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$25-30 million',
  'Box office': '$6,841,570'},
 {'url': 'https://en.wikipedia.org/wiki/F.T.W._(film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109765/',
  'title': 'F.T.W.',
  'Directed by': 'Michael Karbelnikoff',
  'Written by': ['Mickey Rourke', ', Mari Kornhauser'],
  'Starring': ['Lori Singer', ',', 'Brion James', ',', 'Mickey Rourke'],
  'Release date': ['1994', '(', '1994', ')'],
  'Running time': '100 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/The_Fantastic_Four_(unreleased_film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109770/',
  'title': 'The Fantastic Four',
  'Directed by': 'Oley Sassone',
  'Produced by': 'Steven Rabiner',
  'Written by': ['Craig J. Nevius', 'Kevin Rock'],
  'Based on': ['Fantastic Four', 'by', 'Stan Lee', 'Jack Kirby'],
  'Starring': ['Alex Hyde-White',
   'Jay Underwood',
   'Rebecca Staab',
   'Michael Bailey Smith',
   'Kat Green',
   'Joseph Culp'],
  'Music by': ['David Wurst', 'Eric Wurst'],
  'Cinematography': 'Mark Parry',
  'Edited by': 'Glenn Garland',
  'Productioncompany ': 'Neue Constantin Film',
  'Distributed by': 'New Horizons',
  'Release date': ['May 31, 1994', '(', '1994-05-31', ')', '(Limited)'],
  'Running time': '90 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$1 million'},
 {'url': 'https://en.wikipedia.org/wiki/Fast_Getaway_II',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109773/',
  'title': 'Fast Getaway II',
  'Directed by': 'Oley Sassone',
  'Produced by': ['Paul Hertzberg', 'Catalaine Knell', 'Russell D. Markowitz'],
  'Written by': 'Mark Sevi',
  'Starring': ['Corey Haim', 'Cynthia Rothrock', 'Leo Rossi'],
  'Music by': 'David Robbins',
  'Productioncompanies ': ['CineTel Films', 'Live Entertainment'],
  'Distributed by': 'Live Home Video (VHS)',
  'Release date': ['December 21, 1994', '(', '1994-12-21', ')'],
  'Running time': '95 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/The_Favor_(1994_film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109783/',
  'title': 'The Favor',
  'Directed by': 'Donald Petrie',
  'Produced by': 'Lauren Shuler Donner',
  'Written by': ['Sara Parriott', 'Josann McGibbon'],
  'Starring': ['Elizabeth McGovern',
   'Harley Jane Kozak',
   'Bill Pullman',
   'Brad Pitt',
   'Ken Wahl'],
  'Music by': 'Thomas Newman',
  'Distributed by': 'Orion Pictures',
  'Release date': ['April 29, 1994', '(', '1994-04-29', ')', '(U.S.)'],
  'Running time': '97 min.',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$12 million',
  'Box office': '$3,134,381'},
 {'url': 'https://en.wikipedia.org/wiki/Fear_of_a_Black_Hat',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0106880/',
  'title': 'Fear of a Black Hat',
  'Directed by': 'Rusty Cundieff',
  'Produced by': 'Darin Scott',
  'Written by': 'Rusty Cundieff',
  'Starring': ['Rusty Cundieff',
   'Larry B. Scott',
   'Mark Christopher Lawrence'],
  'Music by': ['Jim Manzie', 'Larry Robinson', 'N.W.H.'],
  'Edited by': 'Karen Horn',
  'Productioncompany ': 'ITC Entertainment',
  'Distributed by': 'The Samuel Goldwyn Company',
  'Release date': ['January 24, 1993',
   '(',
   '1993-01-24',
   ')',
   '(',
   'Sundance Film Festival',
   ')',
   'June 3, 1994',
   '(',
   '1994-06-03',
   ')',
   '(United States)'],
  'Running time': '89 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$1 million (estimated)'},
 {'url': 'https://en.wikipedia.org/wiki/The_Flintstones_(film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109813/',
  'title': 'The Flintstones',
  'Directed by': 'Brian Levant',
  'Produced by': 'Bruce Cohen',
  'Written by': ['Tom S. Parker', 'Jim Jennewein', 'Steven E. de Souza'],
  'Based on': ['The Flintstones',
   'by',
   'William Hanna',
   'and',
   'Joseph Barbera'],
  'Starring': ['John Goodman',
   'Rick Moranis',
   'Elizabeth Perkins',
   "Rosie O'Donnell",
   'Kyle MacLachlan',
   'Halle Berry',
   'Elizabeth Taylor'],
  'Music by': 'David Newman',
  'Cinematography': 'Dean Cundey',
  'Edited by': 'Kent Beyda',
  'Productioncompany ': ['Amblin Entertainment', 'Hanna-Barbera Productions'],
  'Distributed by': 'Universal Pictures',
  'Release date': ['May 27, 1994', '(', '1994-05-27', ')'],
  'Running time': '91 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$46 million',
  'Box office': '$341.6 million'},
 {'url': 'https://en.wikipedia.org/wiki/The_Foot_Shooting_Party',
  'year': 1994,
  'Type': 'Label',
  'Industry': 'Motion pictures',
  'Fate': 'Dormant',
  'Founded': ['February 15, 1984', '; 35 years ago', '(', '1984-02-15', ')'],
  'Founder': 'Ron W. Miller',
  'Headquarters': ['Burbank', ',', 'California', ',', 'United States'],
  'Parent': 'The Walt Disney Studios',
  'Website': ['www', '.touchstonepictures', '.com']},
 {'url': 'https://en.wikipedia.org/wiki/The_Force_(1994_film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109826/',
  'title': 'The Force',
  'Directed by': 'Mark Rosman',
  'Produced by': 'Pierre David',
  'Written by': ['Randall Frakes', 'Steve Kallaugher', 'Mitch Marcus'],
  'Starring': ['Jason Gedrick',
   'Kim Delaney',
   'Gary Hudson',
   'Jarrett Lennon',
   'Cyndi Pass'],
  'Music by': 'Louis Febre',
  'Cinematography': 'Jacques Haitkin',
  'Edited by': 'Julian Semilian',
  'Distributed by': ['Image Organization', 'Republic Pictures'],
  'Release date': ['1994', '(', '1994', ')'],
  'Running time': '94 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/Forrest_Gump',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109830/',
  'title': 'Forrest Gump',
  'Directed by': 'Robert Zemeckis',
  'Produced by': ['Wendy Finerman', 'Steve Tisch', 'Steve Starkey'],
  'Screenplay by': 'Eric Roth',
  'Based on': ['Forrest Gump', 'by', 'Winston Groom'],
  'Starring': ['Tom Hanks',
   'Robin Wright',
   'Gary Sinise',
   'Mykelti Williamson',
   'Sally Field'],
  'Music by': 'Alan Silvestri',
  'Cinematography': 'Don Burgess',
  'Edited by': 'Arthur Schmidt',
  'Productioncompany ': 'Wendy Finerman Productions',
  'Distributed by': 'Paramount Pictures',
  'Release date': ['June 23, 1994',
   '(',
   '1994-06-23',
   ')',
   '(Los Angeles)',
   'July 6, 1994',
   '(',
   '1994-07-06',
   ')',
   '(United States)'],
  'Running time': '142 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': ['$55', 'million', '[1]'],
  'Box office': ['$678.1', 'million', '[1]']},
 {'url': 'https://en.wikipedia.org/wiki/Frank_%26_Jesse',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109835/',
  'title': 'Frank and Jesse',
  'Directed by': 'Robert Boris',
  'Produced by': ['Cassian Elwes', 'Elliott Kastner'],
  'Written by': 'Robert Boris',
  'Starring': ['Rob Lowe',
   'Bill Paxton',
   'Randy Travis',
   'Dana Wheeler-Nicholson',
   'Luke Askew',
   'Alexis Arquette',
   'William Atherton'],
  'Music by': 'Mark McKenzie',
  'Cinematography': 'Walt Lloyd',
  'Distributed by': 'Trimark',
  'Release date': ['October 28, 1994', '(', '1994-10-28', ')'],
  'Running time': '105 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$ 50,004'},
 {'url': 'https://en.wikipedia.org/wiki/Fresh_(1994_film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109842/',
  'title': 'Fresh',
  'Directed by': 'Boaz Yakin',
  'Produced by': ['Lawrence Bender', 'Randy Ostrow'],
  'Written by': 'Boaz Yakin',
  'Starring': ['Sean Nelson',
   'Giancarlo Esposito',
   'Samuel L. Jackson',
   "N'Bushe Wright"],
  'Music by': 'Stewart Copeland',
  'Distributed by': 'Miramax Films',
  'Release date': ['August 24, 1994', '(', '1994-08-24', ')'],
  'Running time': '114 min.',
  'Language': 'English',
  'Budget': '$3,500,000',
  'Box office': '$8,094,616'},
 {'url': 'https://en.wikipedia.org/wiki/Gang_War:_Bangin%27_In_Little_Rock',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0272104/',
  'title': "Gang War: Bangin' In Little Rock",
  'Directed by': 'Marc Levin',
  'Distributed by': 'HBO Entertainment',
  'Release date': ['1994', '(', '1994', ')'],
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/Gary_Larson%27s_Tales_from_the_Far_Side',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109873/',
  'title': 'Tales from the Far Side',
  'Created by': 'Gary Larson',
  'Directed by': 'Marv Newland',
  'Starring': ['Kathleen Barr', 'Doug Parker', 'Lee Tockar', 'Dale Wilson'],
  'Country of origin': 'United States',
  'Producer(s)': ['Dennis Heaton',
   'Toni A. Carmichael',
   'Michael van den Bos'],
  'Running time': '30 minutes',
  'Original network': 'CBS',
  'Original release': 'October 26, 1994'},
 {'url': 'https://en.wikipedia.org/wiki/The_Getaway_(1994_film)',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109890/',
  'title': 'The Getaway',
  'Directed by': 'Roger Donaldson',
  'Produced by': ['David Foster', 'John Alan Simon', 'Lawrence Turman'],
  'Screenplay by': ['Walter Hill', 'Amy Holden Jones'],
  'Based on': ['The Getaway', 'by', 'Jim Thompson'],
  'Starring': ['Alec Baldwin',
   'Kim Basinger',
   'Michael Madsen',
   'Jennifer Tilly',
   'Richard Farnsworth',
   'James Woods'],
  'Music by': 'Mark Isham',
  'Cinematography': 'Peter Menzies Jr.',
  'Edited by': 'Conrad Buff',
  'Productioncompany ': ['Largo Entertainment', 'JVC'],
  'Distributed by': 'Universal Pictures',
  'Release date': ['February 11, 1994', '(', '1994-02-11', ')'],
  'Running time': '115 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$30 million'},
 {'url': 'https://en.wikipedia.org/wiki/Getting_Even_with_Dad',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109891/',
  'title': 'Getting Even with Dad',
  'Directed by': 'Howard Deutch',
  'Produced by': 'Katie Jacobs',
  'Written by': ['Tom S. Parker', 'Jim Jennewein'],
  'Starring': ['Macaulay Culkin',
   'Ted Danson',
   'Glenne Headly',
   'Saul Rubinek',
   'Gailard Sartain',
   'Hector Elizondo'],
  'Music by': 'Miles Goodman',
  'Cinematography': 'Tim Suhrstedt',
  'Edited by': 'Richard Halsey',
  'Distributed by': 'Metro-Goldwyn-Mayer',
  'Release date': ['June 17, 1994', '(', '1994-06-17', ')'],
  'Running time': '104 minutes',
  'Language': 'English',
  'Budget': '$30 million',
  'Box office': '$18,869,594'},
 {},

In [6]:
# Check records in the middle
wikiMoviesRaw[3600:3605]

[{'url': 'https://en.wikipedia.org/wiki/Benji:_Off_the_Leash!',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315273/',
  'title': 'Benji: Off the Leash!',
  'Directed by': 'Joe Camp',
  'Written by': 'Joe Camp',
  'Starring': ['Benji', 'Nick Whitaker', 'Shaggy', 'Gypsy the Cockatoo'],
  'Music by': 'Antonio di Lorenzo',
  'Productioncompany ': 'Mulberry Square Productions',
  'Distributed by': 'Mulberry Square Productions',
  'Release date': ['March 26, 2004', '(', '2004-03-26', ')'],
  'Running time': '97 min',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$3,817,362'},
 {'url': 'https://en.wikipedia.org/wiki/The_Best_Thief_in_the_World',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0389796/',
  'title': 'The Best Thief in the World',
  'Directed by': 'Jacob Kornbluth',
  'Produced by': ['Tim Perrell', 'Nicola Usborne'],
  'Written by': 'Jacob Kornbluth',
  'Starring': ['Marc Rozendaal',
   'Michael Silverman',
   'David Warshofsky',
   'Audra McDonald',
   'Lois Smith'],
  'Music by': ['Prince Paul', 'and', 'Don Newkirk'],
  'Cinematography': 'Ben Kutchins',
  'Edited by': 'Stephanie Sterner',
  'Distributed by': 'Showtime Networks',
  'Release date': ['January 16, 2004', '(', '2004-01-16', ')'],
  'Running time': '93 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/Beyond_the_Sea_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0363473/',
  'title': 'Beyond the Sea',
  'Directed by': 'Kevin Spacey',
  'Produced by': ['Kevin Spacey',
   'Phillip Barry',
   'Dana Brunetti',
   'Arthur Friedman',
   'Jan Fantl',
   'Andy Paterson'],
  'Written by': ['Lewis Colick', 'Kevin Spacey'],
  'Starring': ['Kevin Spacey', 'Kate Bosworth', 'Bob Hoskins', 'John Goodman'],
  'Music by': 'Bobby Darin',
  'Cinematography': 'Eduardo Serra',
  'Edited by': 'Trevor Waite',
  'Productioncompany ': 'Trigger Street Productions',
  'Distributed by': ['Lionsgate Films',
   '(USA)',
   'Entertainment Film Distributors',
   '(UK)',
   'GAGA',
   '(Japan)',
   'Maple Pictures',
   '(Canada)'],
  'Release date': ['December 17, 2004', '(', '2004-12-17', ')'],
  'Running time': '118 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$8.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/The_Big_Bounce_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315824/',
  'title': 'The Big Bounce',
  'Directed by': 'George Armitage',
  'Produced by': ['George Armitage', 'Steve Bing'],
  'Screenplay by': 'Sebastian Gutierrez',
  'Based on': ['The Big Bounce', 'by', 'Elmore Leonard'],
  'Starring': ['Owen Wilson',
   'Charlie Sheen',
   'Morgan Freeman',
   'Sara Foster',
   'Gary Sinise'],
  'Music by': 'George S. Clinton',
  'Cinematography': 'Jeffrey L. Kimball',
  'Edited by': 'Barry Malkin',
  'Productioncompany ': 'Shangri-La Entertainment',
  'Distributed by': 'Warner Bros. Pictures',
  'Release date': ['January 30, 2004', '(', '2004-01-30', ')'],
  'Running time': '88 minutes',
  'Language': 'English',
  'Budget': '$50 million',
  'Box office': '$6.8 million'},
 {'url': 'https://en.wikipedia.org/wiki/Birth_(film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0337876/',
  'title': 'Birth',
  'Directed by': 'Jonathan Glazer',
  'Produced by': ['Lizie Gower', 'Nick Morris', 'Jean-Louis Piel'],
  'Written by': ['Jean-Claude Carri√®re', 'Milo Addica', 'Jonathan Glazer'],
  'Starring': ['Nicole Kidman',
   'Cameron Bright',
   'Danny Huston',
   'Lauren Bacall'],
  'Music by': 'Alexandre Desplat',
  'Cinematography': 'Harris Savides',
  'Edited by': ['Sam Sneade', 'Claus Wehlisch'],
  'Distributed by': 'New Line Cinema',
  'Release date': ['November 8, 2004', '(', '2004-11-08', ')'],
  'Running time': '96 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$23.9 million'}]

In [7]:
# Kaggle data

kaggleMetadata = pd.read_csv(f"{fileDir}movies_metadata.csv", low_memory=False)
ratings = pd.read_csv(f"{fileDir}ratings.csv")

In [8]:
kaggleMetadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [9]:
kaggleMetadata.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [10]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [11]:
# sample function will sample random rows
kaggleMetadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
29735,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.tworaginggrannies.com,232351,tt3213062,en,Two Raging Grannies,Raging Grannies is a touching and thought-prov...,...,2013-11-13,0.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Two Raging Grannies,False,6.0,1.0
36735,False,NaN,0,[],NaN,372946,tt1346954,ja,Hako,A withering craftsman caters to the requests o...,...,2003-06-06,0.0,68.0,"[{'iso_639_1': 'ja', 'name': 'Êó•Êú¨Ë™û'}]",Released,NaN,The Box,False,0.0,0.0
32888,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.tigerorangemovie.com/,294086,tt2866824,en,Tiger Orange,In the small Central California town where the...,...,2014-07-26,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Do We Stand Out or Do We Fit In?,Tiger Orange,False,6.4,4.0
44781,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",http://putlockermovie.co/the-void-putlocker/,429713,tt6267458,en,The Void,The Void is a multi volume anthology series fe...,...,2016-11-08,0.0,86.0,[],Released,NaN,The Void,False,4.0,1.0
34063,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,118427,tt0113843,en,Mommy,"Patty McCormack's ""Mommy"" is psychotically obs...",...,1995-11-28,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mommy,False,0.0,0.0

In [12]:
ratings.sample(n=5)

          userId  movieId  rating   timestamp
7435982    76726     1219     4.0  1239746697
7895455    81406      356     4.0  1488966316
17971962  186633     2628     3.0   965305343
19737317  204983     6537     3.0  1458472121
3893399    40465     5329     2.0  1422736149

In [13]:
# *****************************************
#           Transform phase              
# *****************************************

wikiMoviesDF = pd.DataFrame(wikiMoviesRaw)

In [14]:
# Check first 5 rows
wikiMoviesDF.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Having 193 columns they will not be printed if only executing wikiMoviesDF.columns, it is needed to convert it to a list
wikiMoviesDF.columns.to_list()

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Author',
 'Publisher',
 'Publication date',
 'Media type',
 'Pages',
 'ISBN',
 'OCLC',
 'LC Class',
 'Cover artist',
 'Series',
 'Set in',
 'Adaptation by',
 'Suggested by',
 'Biographical data',
 'Born',
 'Died',
 'Resting place',
 'Occupation',
 'Years active',
 'Spouse(s)',
 'Children',
 'Parent(s)',
 'Genres',
 'Instruments',
 'Labels',
 'Website',
 'Traditional',
 'Mandarin',
 'Type',
 'Industry',
 'Fate',
 'Founded',
 'Founder',
 'Headquarters',
 'Parent',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Area',
 'Coordinates',
 'Status',
 'Opening date',
 'Closing date',
 'Replaced',
 'Replaced by',
 'Name',
 'Attraction type',
 'Music',
 'Duration',
 'Simplified Chinese',
 'Traditional Chinese',
 'Hanyu Pinyin',
 'Literal meaning',
 'Transcriptions',
 'Bopomofo',
 'Gwoyeu Romatzyh',
 'Wade‚ÄìGiles',
 'IPA',
 'Yale Romanization',
 'Jyutping',
 'Hokkien POJ',
 'Animation by',
 'Color process',
 'Engine(s)',
 'Genre(s)',
 'Actor control',
 'Production company',
 'Release(s)',
 'Format(s)',
 'Simplified',
 'Characters',
 'Date premiered',
 'Place premiered',
 'Setting',
 'Original language',
 'Subject',
 'Published',
 'Dewey Decimal',
 'Text',
 'Illustrator',
 'Original title',
 'Published in English',
 'French',
 'Developed by',
 'Ending theme',
 'No. of seasons',
 'Nationality',
 'Portrayed by',
 'Alias',
 'Species',
 'Gender',
 'Family',
 'Alma mater',
 'Camera setup',
 'Novel(s)',
 'Comics',
 'Film(s)',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCune‚ÄìReischauer',
 'Developer(s)',
 'Publisher(s)',
 'Designer(s)',
 'Programmer(s)',
 'Artist(s)',
 'Writer(s)',
 'Engine',
 'Platform(s)',
 'Release',
 'Mode(s)',
 'Original work',
 'Television series',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Full name',
 'Height',
 'Seasons',
 'Chinese',
 'Other names',
 'Relatives',
 'Yiddish',
 'Formerly',
 'Key people',
 'Total assets',
 'Owner',
 'Number of employees',
 'Divisions',
 'Subsidiaries',
 'Arabic',
 'Romanized',
 'Predecessor',
 'Founders',
 'Area served',
 'Products',
 'Services',
 'Russian',
 'Hebrew',
 'Revenue',
 'Operating income',
 'Polish']

In [16]:
# List comprehension to filter the data
wikiMovies = [movie for movie in wikiMoviesRaw 
    if("Director" in movie or "Directed by" in movie) 
        and "imdb_link" in movie]
len(wikiMovies)

7080

In [17]:
wikiMoviesDF = pd.DataFrame(wikiMovies)
# Check current number of columns
print(len(wikiMoviesDF.columns.to_list()))
# Print columns
wikiMoviesDF.columns.to_list()

78

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Adaptation by',
 'Suggested by',
 'Traditional',
 'Mandarin',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Animation by',
 'Color process',
 'Simplified',
 'French',
 'Camera setup',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCune‚ÄìReischauer',
 'Original title',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Chinese',
 'Yiddish',
 'Arabic',
 'Romanized',
 'Russian',
 'Hebrew',
 'Polish']

In [18]:
# The column "No. of episodes" indicates TV shows are inclueded. We clear them out

# List comprehension to filter the data
wikiMovies = [movie for movie in wikiMoviesRaw 
    if ("Director" in movie or "Directed by" in movie) 
        and "imdb_link" in movie
        and 'No. of episodes' not in movie]
len(wikiMovies)

7076

In [19]:
# Clean bad data from each movie (alternative titles)
# -----------------------------------------------------
# Arabic movies
wikiMoviesDF[wikiMoviesDF["Arabic"].notnull()]

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
6838,https://en.wikipedia.org/wiki/The_Insult_(film),2018,https://www.imdb.com/title/tt7048622/,The Insult,Ziad Doueiri,"[Rachid Bouchareb, Jean Br√©hat, Julie Gayet, A...",NaN,NaN,NaN,"[Adel Karam, Kamel El Basha]",...,NaN,Case No. 23,NaN,NaN,NaN,ŸÇÿ∂Ÿäÿ© ÿ±ŸÇŸÖ Ÿ¢Ÿ£,Qadiyya raqm 23,NaN,NaN,NaN
7062,https://en.wikipedia.org/wiki/Capernaum_(film),2018,https://www.imdb.com/title/tt8267604/,Capernaum,Nadine Labaki,"[Michel Merkt, Khaled Mouzanar]","[Nadine Labaki, Jihad Hojaily, Michelle Keserw...","[Georges Khabbaz, Nadine Labaki, Michelle Kese...",NaN,"[Zain Al Rafeea, Yordanos Shiferaw, Boluwatife...",...,NaN,NaN,NaN,NaN,NaN,⁄©ŸÅÿ±ŸÜÿßÿ≠ŸàŸÖ‚Äé,NaN,NaN,NaN,NaN

In [20]:
# We check urls to fully understand the meaning of that column
wikiMoviesDF[wikiMoviesDF["Arabic"].notnull()]["url"]

6838    https://en.wikipedia.org/wiki/The_Insult_(film)
7062     https://en.wikipedia.org/wiki/Capernaum_(film)
Name: url, dtype: object

In [21]:
# Find out which, like Arabic, are Alternate names
sorted(wikiMoviesDF.columns.tolist())
wikiMoviesDF[wikiMoviesDF["Cantonese"].notnull()]["url"]

6460    https://en.wikipedia.org/wiki/Ip_Man_3
Name: url, dtype: object

In [22]:
for col in wikiMoviesDF.columns.to_list():
    counter = wikiMoviesDF[wikiMoviesDF[col].notnull()].count()[col]
    if counter <=100:
        print(f"{col} -----> {counter}")
    # len(wikiMoviesDF[col])

Theme music composer -----> 69
Executive producer(s) -----> 100
Production location(s) -----> 50
Picture format -----> 68
Audio format -----> 64
Voices of -----> 2
Followed by -----> 9
Composer(s) -----> 9
Created by -----> 11
Also known as -----> 2
Opening theme -----> 1
No. of episodes -----> 4
Preceded by -----> 10
Adaptation by -----> 2
Suggested by -----> 1
Traditional -----> 5
Mandarin -----> 4
Released -----> 2
Recorded -----> 2
Venue -----> 1
Length -----> 2
Label -----> 2
Director -----> 2
Producer -----> 2
Animation by -----> 2
Color process -----> 1
Simplified -----> 4
French -----> 1
Camera setup -----> 1
Screen story by -----> 1
Hangul -----> 2
Revised Romanization -----> 2
McCune‚ÄìReischauer -----> 2
Original title -----> 1
Japanese -----> 4
Hepburn -----> 4
Literally -----> 3
Cantonese -----> 1
Chinese -----> 1
Yiddish -----> 1
Arabic -----> 2
Romanized -----> 2
Russian -----> 1
Hebrew -----> 1
Polish -----> 1

In [23]:
# Function to clean bad data from each movie
def cleanMovie(movie):
    movie = dict(movie) # create a non-destructive copy
    altTitles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune‚ÄìReischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            altTitles[key]=movie[key]
            movie.pop(key)
    
    if len(altTitles) > 0:
        movie["alt_titles"] = altTitles

    return movie

In [24]:
# Create a list applying the previous function
cleanMovies = [cleanMovie(movie) for movie in wikiMovies]

In [25]:
# Check result dictionary
cleanMovies[:3]

[{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098987/',
  'title': 'The Adventures of Ford Fairlane',
  'Directed by': 'Renny Harlin',
  'Produced by': ['Steve Perry', 'Joel Silver'],
  'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
  'Story by': ['David Arnott', 'James Cappe'],
  'Based on': ['Characters', 'by Rex Weiner'],
  'Starring': ['Andrew Dice Clay',
   'Wayne Newton',
   'Priscilla Presley',
   'Lauren Holly',
   'Morris Day',
   'Robert Englund',
   "Ed O'Neill"],
  'Narrated by': 'Andrew "Dice" Clay',
  'Music by': ['Cliff Eidelman', 'Yello'],
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Michael Tronick',
  'Productioncompany ': 'Silver Pictures',
  'Distributed by': '20th Century Fox',
  'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
  'Running time': '102 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$21.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/After_Dark,_My_Sweet',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098994/',
  'title': 'After Dark, My Sweet',
  'Directed by': 'James Foley',
  'Produced by': ['Ric Kidney', 'Robert Redlin'],
  'Screenplay by': ['James Foley', 'Robert Redlin'],
  'Based on': ['the novel', 'After Dark, My Sweet', 'by', 'Jim Thompson'],
  'Starring': ['Jason Patric',
   'Rachel Ward',
   'Bruce Dern',
   'George Dickerson'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Mark Plummer',
  'Edited by': 'Howard E. Smith',
  'Productioncompany ': 'Avenue Pictures',
  'Distributed by': 'Avenue Pictures',
  'Release date': ['May 17, 1990',
   '(',
   '1990-05-17',
   ')',
   '(Cannes Film Market)',
   'August 24, 1990',
   '(',
   '1990-08-24',
   ')',
   '(United States)'],
  'Running time': '114 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$6 million',
  'Box office': '$2.7 million'},
 {'url': 'https://en.wikipedia.org/wiki/Air_America_(film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099005/',
  'title': 'Air America',
  'Directed by': 'Roger Spottiswoode',
  'Produced by': 'Daniel Melnick',
  'Screenplay by': ['John Eskow', 'Richard Rush'],
  'Based on': ['Air America', 'by', 'Christopher Robbins'],
  'Starring': ['Mel Gibson',
   'Robert Downey Jr.',
   'Nancy Travis',
   'David Marshall Grant',
   'Lane Smith'],
  'Music by': 'Charles Gross',
  'Cinematography': 'Roger Deakins',
  'Edited by': ['John Bloom', 'Lois Freeman-Fox'],
  'Productioncompany ': ['Carolco Pictures', 'IndieProd Company'],
  'Distributed by': 'TriStar Pictures',
  'Release date': ['August 10, 1990', '(', '1990-08-10', ')'],
  'Running time': '113 minutes',
  'Country': 'United States',
  'Language': ['English', 'Lao'],
  'Budget': '$35 million',
  'Box office': '$57,718,089'}]

In [26]:
# Create dataframe with cleaned data
wikiMoviesDF = pd.DataFrame(cleanMovies)
# Print the number of columns
print(len(wikiMoviesDF.columns.to_list()))
# Print column names
sorted(wikiMoviesDF.columns.to_list())

56

['Adaptation by',
 'Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Country of origin',
 'Created by',
 'Directed by',
 'Director',
 'Distributed by',
 'Distributor',
 'Edited by',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'Length',
 'Music by',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Original release',
 'Picture format',
 'Preceded by',
 'Produced by',
 'Producer',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Productioncompanies ',
 'Productioncompany ',
 'Recorded',
 'Release date',
 'Released',
 'Running time',
 'Screen story by',
 'Screenplay by',
 'Starring',
 'Story by',
 'Suggested by',
 'Theme music composer',
 'Venue',
 'Voices of',
 'Written by',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [27]:
# Redefine the function clean data to add a inner function that renames column names

# Function to clean bad data from each movie
def cleanMovie(movie):
    movie = dict(movie) # create a non-destructive copy
    altTitles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune‚ÄìReischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            altTitles[key]=movie[key]
            movie.pop(key)
    
    if len(altTitles) > 0:
        movie["alt_titles"] = altTitles
    
    # Function to change the name of a column
    def changeColumnName(oldName, newName):
        if oldName in movie:
            movie[newName] = movie.pop(oldName)

    # Change the name columns with different name but same data content  
    changeColumnName('Adaptation by', 'Writer(s)')
    changeColumnName('Country of origin', 'Country')          
    changeColumnName("Directed by", "Director")
    changeColumnName("Distributed by", "Distributor")
    changeColumnName("Edited by", "Editor(s)")
    changeColumnName('Length', 'Running time')
    changeColumnName('Original release', 'Release date')
    changeColumnName('Music by', 'Composer(s)')
    changeColumnName("Produced by", "Producer(s)")
    changeColumnName("Producer", "Producer(s)")
    changeColumnName('Productioncompanies ', 'Production company(s)')
    changeColumnName('Productioncompany ', 'Production company(s)')
    changeColumnName("Released", "Release date")
    changeColumnName('Screen story by', 'Writer(s)')
    changeColumnName('Screenplay by', 'Writer(s)')
    changeColumnName('Story by', 'Writer(s)')
    changeColumnName('Theme music composer', 'Composer(s)')
    changeColumnName('Written by', 'Writer(s)')

    return movie

In [28]:
# Recreate the cleanMovies list with the modified function
cleanMovies = [cleanMovie(movie) for movie in wikiMovies]

In [29]:
# Check result dictionary
cleanMovies[:3]

[{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098987/',
  'title': 'The Adventures of Ford Fairlane',
  'Based on': ['Characters', 'by Rex Weiner'],
  'Starring': ['Andrew Dice Clay',
   'Wayne Newton',
   'Priscilla Presley',
   'Lauren Holly',
   'Morris Day',
   'Robert Englund',
   "Ed O'Neill"],
  'Narrated by': 'Andrew "Dice" Clay',
  'Cinematography': 'Oliver Wood',
  'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
  'Running time': '102 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$21.4 million',
  'Director': 'Renny Harlin',
  'Distributor': '20th Century Fox',
  'Editor(s)': 'Michael Tronick',
  'Composer(s)': ['Cliff Eidelman', 'Yello'],
  'Producer(s)': ['Steve Perry', 'Joel Silver'],
  'Production company(s)': 'Silver Pictures',
  'Writer(s)': ['David Arnott', 'James Cappe']},
 {'url': 'https://en.wikipedia.org/wiki/After_Dark,_My_Sweet',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098994/',
  'title': 'After Dark, My Sweet',
  'Based on': ['the novel', 'After Dark, My Sweet', 'by', 'Jim Thompson'],
  'Starring': ['Jason Patric',
   'Rachel Ward',
   'Bruce Dern',
   'George Dickerson'],
  'Cinematography': 'Mark Plummer',
  'Release date': ['May 17, 1990',
   '(',
   '1990-05-17',
   ')',
   '(Cannes Film Market)',
   'August 24, 1990',
   '(',
   '1990-08-24',
   ')',
   '(United States)'],
  'Running time': '114 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$6 million',
  'Box office': '$2.7 million',
  'Director': 'James Foley',
  'Distributor': 'Avenue Pictures',
  'Editor(s)': 'Howard E. Smith',
  'Composer(s)': 'Maurice Jarre',
  'Producer(s)': ['Ric Kidney', 'Robert Redlin'],
  'Production company(s)': 'Avenue Pictures',
  'Writer(s)': ['James Foley', 'Robert Redlin']},
 {'url': 'https://en.wikipedia.org/wiki/Air_America_(film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099005/',
  'title': 'Air America',
  'Based on': ['Air America', 'by', 'Christopher Robbins'],
  'Starring': ['Mel Gibson',
   'Robert Downey Jr.',
   'Nancy Travis',
   'David Marshall Grant',
   'Lane Smith'],
  'Cinematography': 'Roger Deakins',
  'Release date': ['August 10, 1990', '(', '1990-08-10', ')'],
  'Running time': '113 minutes',
  'Country': 'United States',
  'Language': ['English', 'Lao'],
  'Budget': '$35 million',
  'Box office': '$57,718,089',
  'Director': 'Roger Spottiswoode',
  'Distributor': 'TriStar Pictures',
  'Editor(s)': ['John Bloom', 'Lois Freeman-Fox'],
  'Composer(s)': 'Charles Gross',
  'Producer(s)': 'Daniel Melnick',
  'Production company(s)': ['Carolco Pictures', 'IndieProd Company'],
  'Writer(s)': ['John Eskow', 'Richard Rush']}]

In [30]:
# Create dataframe with cleaned data
wikiMoviesDF = pd.DataFrame(cleanMovies)
# Print the number of columns after the reduction
print(len(wikiMoviesDF.columns.to_list()))
# Print column names
sorted(wikiMoviesDF.columns.to_list())

39

['Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Recorded',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Venue',
 'Voices of',
 'Writer(s)',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [31]:
wikiMoviesDF["imdb_id"] = wikiMoviesDF["imdb_link"].str.extract(r"(tt\d{7})")
# Print wikiMoviesDF size before duplicates drop
print(f"Before duplicates drop: {len(wikiMoviesDF)} rows")
wikiMoviesDF.drop_duplicates(subset="imdb_id", inplace=True)
# Print wikiMoviesDF size after duplicates drop
print(f"After duplicates drop: {len(wikiMoviesDF)} rows")
wikiMoviesDF.head()

Before duplicates drop: 7076 rows
After duplicates drop: 7033 rows

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Created by,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018

In [32]:
# Clean mostly null columns
# --------------------------------
# Check number of null values per column
[[column,wikiMoviesDF[column].isnull().sum()] for column in wikiMoviesDF.columns ]

[['url', 0],
 ['year', 0],
 ['imdb_link', 0],
 ['title', 1],
 ['Based on', 4852],
 ['Starring', 184],
 ['Narrated by', 6752],
 ['Cinematography', 691],
 ['Release date', 32],
 ['Running time', 139],
 ['Country', 236],
 ['Language', 244],
 ['Budget', 2295],
 ['Box office', 1548],
 ['Director', 0],
 ['Distributor', 357],
 ['Editor(s)', 548],
 ['Composer(s)', 518],
 ['Producer(s)', 202],
 ['Production company(s)', 1678],
 ['Writer(s)', 199],
 ['Genre', 6923],
 ['Original language(s)', 6875],
 ['Original network', 6908],
 ['Executive producer(s)', 6936],
 ['Production location(s)', 6986],
 ['Picture format', 6969],
 ['Audio format', 6972],
 ['Voices of', 7031],
 ['Followed by', 7024],
 ['Created by', 7023],
 ['Preceded by', 7023],
 ['Suggested by', 7032],
 ['alt_titles', 7012],
 ['Recorded', 7031],
 ['Venue', 7032],
 ['Label', 7031],
 ['Animation by', 7031],
 ['Color process', 7032],
 ['imdb_id', 0]]

In [33]:
# Get columns with non-null values > 90%
wikiColumnsToKeep = [column for column in wikiMoviesDF.columns if wikiMoviesDF[column].isnull().sum() < len(wikiMoviesDF) * 0.9]
# Redefine the Dataframe to only keep the wanted columns 
wikiMoviesDF = wikiMoviesDF[wikiColumnsToKeep]

In [34]:
# Convert and parse data
# ---------------------------
# Check datatypes
wikiMoviesDF.dtypes

url                      object
year                      int64
imdb_link                object
title                    object
Based on                 object
Starring                 object
Cinematography           object
Release date             object
Running time             object
Country                  object
Language                 object
Budget                   object
Box office               object
Director                 object
Distributor              object
Editor(s)                object
Composer(s)              object
Producer(s)              object
Production company(s)    object
Writer(s)                object
imdb_id                  object
dtype: object

In [35]:
# BoxOffice, Budget and Running time should be numerical, Release Date a date object

# Convert Box office to numerical type
boxOffice = wikiMoviesDF["Box office"].dropna()
# Print number of Box Office not null values
print(len(boxOffice))
boxOffice.sample(n=10)

5485

3756                   $15,778,152
5185                    $4,681,651
1731    [$21,508, (Domestic), [2]]
6354                 $10.8 million
1700                $147.5 million
4835                 $43.3 million
6033                       $18,642
4399                 $97.8 million
2691                $166.3 million
5285                   $36 million
Name: Box office, dtype: object

In [36]:
# To use a regex we need the data to be string so let us build a function
def isNotString(x):
    return type(x) != str

# Apply the function to Box Office
boxOffice[boxOffice.map(isNotString)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [37]:
# Use Lambda functions to substitute previous cell
boxOffice[boxOffice.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [38]:
# For the elements that are lists let us join them in a single string
boxOffice = boxOffice.apply(lambda x: " ".join(x) if type(x) == list else x)
boxOffice

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5485, dtype: object

In [39]:
# Regular expresions:
# ----------------------------
# Regex for the $123.4 million/billion entries. r avoids the escape bar to really escapes in python
# considering the string literally  
formOne = r"\$\d+\.?\d*\s*[m|b]illion"

# Check how many rows match the formOne regex
boxOffice.str.contains(formOne,flags = re.IGNORECASE).sum()

3896

In [40]:
# Regex for the $1,234,567 entries
formTwo = r"\$\d{1,3}(?:,\d{3})+"
# Check how many rows match the formTwo regex
boxOffice.str.contains(formTwo,flags = re.IGNORECASE).sum()

1544

In [41]:
# Check which values do not match any of the regex
matchesFromOne = boxOffice.str.contains(formOne,flags = re.IGNORECASE)
matchesFromTwo = boxOffice.str.contains(formTwo,flags = re.IGNORECASE)

# /!\ Following sintax thows an error
# boxOffice[(not matchesFromOne) and (not matchesFromTwo)]

# The following is needed
boxOffice[~matchesFromOne & ~matchesFromTwo]

34                         US$ 4,212,828
79                              $335.000
110                   $4.35-4.37 million
130                        US$ 4,803,039
600                           $5000 (US)
731                         $ 11,146,270
957                             $ 50,004
1070                          35,254,617
1147    $ 407,618 (U.S.) (sub-total) [1]
1446                        $ 11,829,959
1480                          ¬£3 million
1611                            $520.000
1865                        ¬•1.1 billion
2032                                 N/A
2091                                $309
2130               US$ 171.8 million [9]
2257                   US$ 3,395,581 [1]
2263            $ 1,223,034 ( domestic )
2347                            $282.175
2638            $ 104,883 (US sub-total)
2665         926,423 admissions (France)
2697      $ 1.7 million (US) (sub-total)
2823                            $414.000
2924                            $621.000
3088           $32 [2] ‚Äì33.1 million [1]
3631                                 TBA
3859                  $38.9‚Äì40.3 million
3879            CN¬•3.650 million (China)
4116                          ¬£7,385,434
4123                            $161.000
4261                  $20.7‚Äì23.9 million
4306                              $20-30
4492                        $47.7 millon
4561             $45.2k (only in Turkey)
4662                USD$ 8.2 million [2]
5362                   $ 142 million [3]
5447                               ¬£2.56
5784                            413 733$
6013                             Unknown
6145                  $17.5‚Äì18.4 million
6234                  $41.8‚Äì41.9 million
6369                               $111k
6370                                $588
6593                      less than $372
6829                    $ 41 million [3]
6843                             8 crore
6904                         $6.9 millon
Name: Box office, dtype: object

In [42]:
# Include in the patterns values with a space between $ and number,
#       accept . instead of , for thousands separator (use of character set [,\.] to accept any),
#       discard 1.234 million/billion (use negative lookahead group),
#       misspelling word million as millon (make optional the second i)
formOne = r"\$\s*\d+\.?\d*\s*[mb]illi?on"
formTwo = r"\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)"

In [43]:
# Handle ranges: we will just keep the second number of the range
boxOffice = boxOffice.str.replace(r'\$.*[-‚Äî‚Äì](?![a-z])', '$', regex=True)

In [44]:
# Combine both regex to match either one.
# Extract function gets data that match a given regex into a DataFrame
boxOffice.str.extract(f"({formOne}|{formTwo})")

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7070  $19.4 million
7071  $41.9 million
7072  $76.1 million
7073  $38.4 million
7074   $5.5 million

[5485 rows x 1 columns]

In [45]:
# Function to convert values into numberic format
def parseDollars(s):

    # if s is not a string, return NaN
    if type(s) != str:
        return np

    # if input is of the form $###.# million
    if re.match(r"\$\s*\d+\.?\d*\s*milli?on", s, flags=re.IGNORECASE):
        
        # remove dollar sign and " million"
        s = re.sub("\$|\s|[a-zA-Z]", "", s)
        # convert to float and multiply by a million
        value = float(s) * 10**6
        return value
        
    # if input is of the form $###.# billion
    elif re.match(r"\$\s*\d+\.?\d*\s*billi?on", s, flags=re.IGNORECASE):
        
        # remove dollar sign and " billion"
        s = re.sub("\$|\s|[a-zA-Z]", "", s)
        # convert to float and multiply by a billion
        value = float(s) * 10**9
        return value
       
    # if input is of the form $###,###,###
    elif re.match(r"\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)", s, flags=re.IGNORECASE):
        
        # remove dollar sign and commas
        s = re.sub("\$|\s|[,\.]", "", s)
        # convert to float
        value = float(s)
        return value
        
    else:        
        return np.nan

In [46]:
# Apply the function and assign to a new column in wikiMoviesDF
wikiMoviesDF["box_office"] = boxOffice.str.extract(f"({formOne}|{formTwo})", flags=re.IGNORECASE)[0].apply(parseDollars)
# Check resultant column
wikiMoviesDF[["box_office","Box office"]]

       box_office        Box office
0        2.14e+07     $21.4 million
1         2.7e+06      $2.7 million
2     5.77181e+07       $57,718,089
3     7.33165e+06        $7,331,647
4     6.93995e+06  $6,939,946 (USA)
...           ...               ...
7071     4.19e+07     $41.9 million
7072     7.61e+07     $76.1 million
7073     3.84e+07     $38.4 million
7074      5.5e+06      $5.5 million
7075          NaN               NaN

[7033 rows x 2 columns]

In [47]:
# Drop original 'Box office' column
wikiMoviesDF.drop('Box office', axis=1, inplace=True)

In [48]:
# Budget column:

# Drop null values
budget = wikiMoviesDF["Budget"].dropna()
# Covert any list to string
budget = budget.map(lambda x: " ".join(x) if type(x) == list else x)
# Keep last value when given ranges
budget = budget.str.replace(r"\$.*[-‚Äî‚Äì](?![a-z])", "$", regex=True)

In [49]:
# Check values not matching any previous calculated regex
matchesFromOne = budget.str.contains(formOne,flags = re.IGNORECASE)
matchesFromTwo = budget.str.contains(formTwo,flags = re.IGNORECASE)
budget[~matchesFromOne & ~matchesFromTwo]

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
973             $34 [3] [4] million
1126               $120 [4] million
1226                        Unknown
1278                            HBO
1374                     ¬£6,000,000
1397                     13 million
1480                   ¬£2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     ‚Ç§2,300,874
2281                     $14 milion
2451                     ‚Ç§6,350,000
3144                   ‚Ç¨ 40 million
3360               $150 [6] million
3418                        $218.32
3802                   ¬£4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    ¬£17 million
5034              $$200 [4] million
5055           $155 [2] [3] million
5419                $40 [4] million
5424                            N/A
5447                     ¬£4 million
5671                    ‚Ç¨14 million
5687                   $ dead link]
6385               ¬£ 12 million [3]
6593                     ¬£3 million
6821                  ¬£12.9 million
6843                      3.5 crore
6895                        919,000
7070                   ‚Ç¨4.3 million
Name: Budget, dtype: object

In [50]:
# Remove citation references (numbers in square brackes)
budget = budget.str.replace(r"\[\d+\]\s*", "")
# Check remaining unmatching values
matchesFromOne = budget.str.contains(formOne,flags = re.IGNORECASE)
matchesFromTwo = budget.str.contains(formTwo,flags = re.IGNORECASE)
budget[~matchesFromOne & ~matchesFromTwo]

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
1226                        Unknown
1278                            HBO
1374                     ¬£6,000,000
1397                     13 million
1480                   ¬£2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     ‚Ç§2,300,874
2281                     $14 milion
2451                     ‚Ç§6,350,000
3144                   ‚Ç¨ 40 million
3418                        $218.32
3802                   ¬£4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    ¬£17 million
5424                            N/A
5447                     ¬£4 million
5671                    ‚Ç¨14 million
5687                   $ dead link]
6385                  ¬£ 12 million
6593                     ¬£3 million
6821                  ¬£12.9 million
6843                      3.5 crore
6895                        919,000
7070                   ‚Ç¨4.3 million
Name: Budget, dtype: object

In [51]:
# Apply the function and assign to a new column in wikiMoviesDF
wikiMoviesDF["budget"] = budget.str.extract(f"({formOne}|{formTwo})", flags=re.IGNORECASE)[0].apply(parseDollars)
# Check resultant column
# wikiMoviesDF[(wikiMoviesDF["budget"].isnull()) & (wikiMoviesDF["Budget"].notnull())] 
print(wikiMoviesDF["Budget"].notnull().count())
print(wikiMoviesDF["budget"].notnull().count())

7033
7033

In [52]:
# Drop original 'Budget' column
wikiMoviesDF.drop("Budget", axis=1, inplace=True)

In [53]:
# Release date column:

# Drop null values and Covert any list to string
releaseDate = wikiMoviesDF["Release date"].dropna().apply(lambda x: " ".join(x) if type(x) == list else x)
releaseDate

0                            July 11, 1990 ( 1990-07-11 )
1       May 17, 1990 ( 1990-05-17 ) (Cannes Film Marke...
2                          August 10, 1990 ( 1990-08-10 )
3                        December 25, 1990 ( 1990-12-25 )
4                                       December 19, 1990
                              ...
7071     December 25, 2018 ( 2018-12-25 ) (United States)
7072    December 11, 2018 ( 2018-12-11 ) ( Samuel Gold...
7073    November 8, 2018 ( 2018-11-08 ) ( AFI Fest ) D...
7074    August 31, 2018 ( 2018-08-31 ) ( Telluride ) D...
7075                      28 December 2018 ( 2018-12-28 )
Name: Release date, Length: 7001, dtype: object

In [55]:
# Regex to match Dates formats 
# To match Month dd, yyyy
dateFormOne = r"(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}"
# To match yyyy.mm.dd where . can be any separator
dateFormTwo = r"\d{4}.[01]\d.[123]\d"
# To match Month yyyy
dateFormThree = r"(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}"
# To match yyyy
dateFormFour = r"\d{4}"

In [56]:
# Extract function gets data that match a given regex into a DataFrame
releaseDate.str.extract(f"({dateFormOne}|{dateFormTwo}|{dateFormThree}|{dateFormFour})")

                      0
0         July 11, 1990
1          May 17, 1990
2       August 10, 1990
3     December 25, 1990
4     December 19, 1990
...                 ...
7071  December 25, 2018
7072  December 11, 2018
7073               2018
7074    August 31, 2018
7075      December 2018

[7001 rows x 1 columns]

In [57]:
# Create column to hold the matching dates using the built-in pandas date function to_datetime
wikiMoviesDF["release_date"] = pd.to_datetime(releaseDate.str.extract(f"({dateFormOne}|{dateFormTwo}|{dateFormThree}|{dateFormFour})")[0], infer_datetime_format=True)

In [58]:
# Check not null values
runningTime = wikiMoviesDF["Running time"].dropna().apply(lambda x: " ".join(x) if type(x) == list else x)
runningTime

0                                 102 minutes
1                                 114 minutes
2                                 113 minutes
3                                 106 minutes
4                                  95 minutes
                        ...
7071                               90 minutes
7072                              132 minutes
7073                              120 minutes
7074                              123 minutes
7075    Variable; 90 minutes for default path
Name: Running time, Length: 6894, dtype: object

In [59]:
runningTime.str.contains(r"^\d*\s*minutes$", flags=re.IGNORECASE).sum()

6528

In [62]:
# Chech which vaalues do not match a 'n minutes' pattern
runningTime[runningTime.str.contains(r"^\d*\s*minutes$", flags=re.IGNORECASE) != True]

9                                                 102 min
26                                                 93 min
28                                                32 min.
34                                                101 min
35                                                 97 min
                              ...
6500       114 minutes [1] 120 minutes (extended edition)
6643                                             104 mins
6709    90 minutes (theatrical) [1] 91 minutes (unrate...
7057    108 minutes (Original cut) 98 minutes (UK cut)...
7075                Variable; 90 minutes for default path
Name: Running time, Length: 366, dtype: object

In [63]:
# Match entries with any kind of abbreviation for minutes (just starting by m)
runningTime.str.contains(r"^\d*\s*m", flags=re.IGNORECASE).sum()

6877

In [64]:
# Chech which vaalues do not match a 'n m...' pattern
runningTime[runningTime.str.contains(r"^\d*\s*m", flags=re.IGNORECASE) != True]

668                     UK:84 min (DVD version) US:86 min
727                         78-102 min (depending on cut)
840                       Varies (79 [3] ‚Äì84 [1] minutes)
1347                                              25 : 03
1443    United States: 77 minutes Argentina: 94 minute...
1499                                            1hr 35min
1551                                               varies
1774                    Netherlands:96 min, Canada:95 min
1777                                       approx. 14 min
2273                                           1 h 43 min
2993                                               1h 48m
3925                                              4 hours
4425    US domestic version: 86 minutes Original versi...
4967    Theatrical cut: 97 minutes Unrated cut: 107 mi...
5424                    115 [1] /123 [2] /128 [3] minutes
5447                                    1 hour 32 minutes
7075                Variable; 90 minutes for default path
Name: Running time, dtype: object

In [66]:
runningTimeExtract = runningTime.str.extract(r"(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m")
runningTimeExtract

        0    1    2
0     NaN  NaN  102
1     NaN  NaN  114
2     NaN  NaN  113
3     NaN  NaN  106
4     NaN  NaN   95
...   ...  ...  ...
7071  NaN  NaN   90
7072  NaN  NaN  132
7073  NaN  NaN  120
7074  NaN  NaN  123
7075  NaN  NaN   90

[6894 rows x 3 columns]

In [68]:
# Convert to numbers. coerce will turn empty strings to NaN.
runningTimeExtract = runningTimeExtract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)
runningTimeExtract

        0    1      2
0     0.0  0.0  102.0
1     0.0  0.0  114.0
2     0.0  0.0  113.0
3     0.0  0.0  106.0
4     0.0  0.0   95.0
...   ...  ...    ...
7071  0.0  0.0   90.0
7072  0.0  0.0  132.0
7073  0.0  0.0  120.0
7074  0.0  0.0  123.0
7075  0.0  0.0   90.0

[6894 rows x 3 columns]

In [72]:
wikiMoviesDF["running_time"] = runningTimeExtract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)
wikiMoviesDF["running_time"]

0       102.0
1       114.0
2       113.0
3       106.0
4        95.0
        ...
7071     90.0
7072    132.0
7073    120.0
7074    123.0
7075     90.0
Name: running_time, Length: 7033, dtype: float64

In [74]:
# Drop original 'Running time' column
wikiMoviesDF.drop('Running time', axis=1, inplace=True)